
.RobotSelector input {
    margin-left: 4px;
}

ul.DataList ul.IndexTextList {
    list-style: none;
    padding-left: 0px;
}

ul.IndexTextList li {
    text-indent: 20px hanging;
}

ul.IndexTextList .IndexLabel {
    font-size: 85%;
}

.FeeliesPage h2 {
    font-size: 110%;
    font-family: "Libre Baskerville", serif;
}

.FeeliesPage hr {
    border: none;
    height: 2px;
    background-color: #888;
    margin: 40px 20px;
}

.FeeliesPage a {
    color: #00C;
}
.DarkTheme .FeeliesPage a {
    color: #88F;
}

.FeeliesPage .Feelie {
    text-align: center;
}

.FeeliesPage .Feelie img {
    border: 1px solid #CCC;
}

